body {
    text-align: center;
    margin: 0px;
    font-family:'Noto Serif', serif;
}

.about {
    background-color: lightblue;
    padding: 0px;
}

.projects {
    background-color: lightblue;
    padding: 10px;
}
