body {
    text-align: center;
    margin: 0px;
    font-family: "Calibri";
}

.about {
    background-color: light blue;
    padding: 0px;
}

.projects {
    background-color: light blue;
    padding: 10px;
}
